.page, main {
  width: 100vw;
  height: 100vh;
}
.page article, main article {
  width: 100vw;
  height: 100vh;
}

.sample-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 65px;
  grid-template-columns: 350px 1fr;
  grid-template-areas: "header header" "sidebar editor";
}
.sample-grid .grid-1 {
  grid-area: header;
  background-color: red;
}
.sample-grid .grid-2 {
  grid-area: sidebar;
  background-color: red;
}
.sample-grid .grid-4 {
  grid-area: editor;
}

.diagram-flow-builder {
  background-color: #F6F6F6;
  opacity: 1;
  background-image: radial-gradient(#C3CBCE 1.04px, transparent 1.04px), radial-gradient(#C3CBCE 1.04px, transparent 1.04px);
  background-size: 25px 25px;
  background-position: 0 0, 25px 25px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*overflow: hidden;*/
  /*    svg {
      position: absolute;
      overflow: visible !important;
      pointer-events: none;
      width: 9999px;
      height: 9999px;

      path {
          fill: none;
          stroke-width: 5px;
          stroke: steelblue;
          pointer-events: auto;
          stroke: #b30000b8;
      }
  }*/
}
.diagram-flow-builder .diagram-flow-item {
  background-color: transparent;
  padding: 0.6rem;
  position: absolute;
  /*        .placeholder {
      position: absolute;
      background-color: transparent;
      inset: 0;
      z-index: 0;
      border-radius: .6rem;
      width: 100%;
      height: 100%;

      .placeholder-connector {
          position: absolute;
      }
  }*/
}
.diagram-flow-builder .diagram-flow-item.on-mouse-enter {
  /*.placeholder {
      box-shadow: 0px 0px 25px 10px #21C170, 0px 0px -15px 0px #21C170 inset;
      cursor: pointer;
  }*/
}
.diagram-flow-builder .diagram-flow-item.on-mouse-enter .wrap {
  box-shadow: 0px 0px 25px -6px #21C170;
}
.diagram-flow-builder .diagram-flow-item .wrap {
  z-index: 2;
  position: relative;
  background-color: white;
  width: 320px;
  max-width: 320px;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 8px -2px #c3cbce;
  user-select: none;
  cursor: move;
  top: 0;
}
.diagram-flow-builder .diagram-flow-item .wrap .diagram-header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #E2E7E5;
}
.diagram-flow-builder .diagram-flow-item .wrap .diagram-header label {
  font-weight: 600;
}
.diagram-flow-builder .diagram-flow-item .wrap .diagram-body {
  padding: 1rem;
}
.diagram-flow-builder .connectors {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}
.diagram-flow-builder .connectors, .diagram-flow-builder .connectors .points, .diagram-flow-builder .connectors .lines {
  width: 100%;
  height: 100%;
}
.diagram-flow-builder .connectors .points {
  position: absolute;
  inset: 0;
}
.diagram-flow-builder .connectors .points .placeholder-connector {
  cursor: pointer;
  position: absolute;
  fill: #A2B6C3;
  pointer-events: all;
}
.diagram-flow-builder .connectors .points .connector-point {
  fill: #3199DC;
  /*pointer-events: auto;*/
}
.diagram-flow-builder .connectors .points .connector-point-origin {
  fill: #3199DC;
}
.diagram-flow-builder .connectors .points .connector-point-origin.hover {
  fill: #1DAB50;
  cursor: pointer;
}
.diagram-flow-builder .connectors .points .connector-point-destination {
  fill: #3199DC;
}
.diagram-flow-builder .connectors .points .connector-point-destination.hover {
  fill: #1DAB50;
  cursor: pointer;
}
.diagram-flow-builder .connectors .points .destination-refence-connector {
  fill: transparent;
}
.diagram-flow-builder .connectors .lines {
  position: absolute;
  inset: 0;
}
.diagram-flow-builder .connectors .lines .placeholder-path, .diagram-flow-builder .connectors .lines .path {
  fill: none;
  stroke-width: 3px;
  stroke: steelblue;
  pointer-events: auto;
  stroke: #3199DC;
}
.diagram-flow-builder .connectors .lines .path {
  stroke-dasharray: 10 5;
  -webkit-animation: dash 7s linear infinite;
  animation: dash 25s linear infinite;
  stroke-dashoffset: 255;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
